<div class="nested-fields">

  <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
      <%= f.label :pic %>
      <%= f.file_field :pic, class: "form-control"  %>
  </div>

</div>