<div class="nested-fields">

  <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
      <%= f.label :pics %>
      <%= f.file_field :pics, multiple: true, class: "form-control"  %>
  </div>

</div>